src/test/resources/s3-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
	<!--

		Mule S3 Cloud Connector Copyright (c) MuleSoft, Inc. All rights
		reserved. http://www.mulesoft.com The software in this package is
		published under the terms of the CPAL v1.0 license, a copy of which
		has been included with this distribution in the LICENSE.txt file.
	-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/1.0/mule-s3.xsd">

	<s3:config accessKey="" secretKey="" />

	<flow name="ListBucketsFlow">
		<s3:list-buckets />
	</flow>

	<flow name="BrokenEnumsFlow">
		<s3:create-bucket bucketName="my-bucket" acl="PRIVATE" />
	</flow>

	<flow name="BucketCrudFlow">
		<s3:delete-bucket bucketName="my-bucket" force="false" />
		<s3:create-bucket bucketName="my-bucket" acl="PRIVATE" />
	</flow>

	<flow name="GetObjectMetadata">
		<s3:get-object-metadata bucketName="#[map-payload:bucketName]"
			key="#[map-payload:key]" />
	</flow>


	<flow name="CreateAndCopyBucketFlow">
		<description>Creates an object named "anObject", and the copies it to
			"anotherObject",
			within the same bucket. Answers the list of objects
			in the bucket</description>
		<s3:create-object bucketName="my-bucket" key="anObject"
			content="hello world!" />
		<s3:copy-object sourceBucketName="my-bucket" sourceKey="anObject"
			destinationKey="anotherObject" destinationStorageClass="STANDARD" />
		<s3:list-objects bucketName="my-bucket" prefix="" />
	</flow>

	<flow name="BucketPolicyCrudFlow">
		<description>Deletes existing bucket policy, sets a new one an
			returns
			it</description>
		<s3:delete-bucket-policy bucketName="my-bucket" />
		<s3:set-bucket-policy bucketName="my-bucket"
			policyText="a policy" />
		<s3:get-bucket-policy bucketName="my-bucket" />
	</flow>

	<flow name="CreatePresignedUriFlow">
		<s3:create-object-presigned-uri
			bucketName="my-bucket" key="anObject" method="GET" />
	</flow>

	<flow name="CreateUriFlow">
		<s3:create-object-uri
			bucketName="my-bucket" key="anObject" useDefaultServer="true"/>
	</flow>

	<flow name="StorageClassCrudFlow">
		<s3:set-object-storage-class bucketName="my-bucket"
			key="anObject" storageClass="STANDARD" />
	</flow>

	<flow name="ObjectCrudFlow">
		<s3:create-object bucketName="my-bucket" key="anObject"
			content="hello world!" contentType="text/plain" contentMd5="c897d1410af8f2c74fba11b1db511e9e" />
		<s3:delete-object bucketName="my-bucket" key="anObject"
			versionId="15" />
	</flow>

	<flow name="SetBucketVersioningStatusFlow">
		<s3:set-bucket-versioning-status
			bucketName="my-bucket" versioningStatus="SUSPENDED" />
	</flow>

	<flow name="GetObjectFlow">
		<s3:get-object bucketName="my-bucket" key="anObject"
			versionId="13" />
	</flow>

	<flow name="GetObjectContentFlow">
		<s3:get-object-content bucketName="my-bucket"
			key="anObject" />
	</flow>

	<flow name="WebsiteConfigCrud">
		<s3:get-bucket-website-configuration
			bucketName="my-bucket" />
		<s3:set-bucket-website-configuration
			bucketName="my-bucket" suffix="index.html" errorDocument="errorDocument.html" />
		<s3:delete-bucket-website-configuration
			bucketName="my-bucket" />
	</flow>
</mule>
