example1/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule S3 Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:bitly="http://www.mulesoft.org/schema/mule/bitly"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.mulesoft.org/schema/mule/bitly   http://www.mulesoft.org/schema/mule/bitly/3.1/mule-bitly.xsd
       http://www.mulesoft.org/schema/mule/s3      http://www.mulesoft.org/schema/mule/s3/1.0/mule-s3.xsd
       http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd 
       http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/3.1/mule-twitter.xsd
       ">

	<!-- configuration! -->
	<s3:config accessKey="${s3.accessKey}" secretKey="${s3.secretKey}" />
	
	<flow name="UploadFlow" >
		<description>Uploads a file contained in an http server to AmazonS3
		</description>
		<logger level="INFO" category="Retrieving"/>
		<outbound-endpoint address="http://www.mulesoft.com:80/images/index/front-esb.jpg" />
		<s3:create-object content="#[message]"
				bucketName="${s3.bucketName}" 
				key="mulelogo.jpg" acl="PUBLIC_READ" />
		<s3:list-object-versions bucketName="${s3.bucketName}"/>
		<collection-splitter/>
		<echo-component/>
	</flow>
	
	<flow name="SetupFlow" >
		<description>Creates the Bucket and sets it configuration</description>
		<s3:create-bucket bucketName="${s3.bucketName}" acl="PUBLIC_READ"/>  
		<s3:set-bucket-versioning-status
			bucketName="${s3.bucketName}" versioningStatus="ENABLED" />
	</flow>

</mule>
